body {
  background-image: url("../img/pattern.jpg");
  background-size: 30%;
  color: white;
}

.login {
  max-width: 500px;
  background-color: #3954a4;
  border: solid 5px #294189;
  border-radius: 2%;
}

.derechos {
  opacity: 0.55;
}

@media only screen and (max-width: 1024px) {
  body {
    background-size: 50%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-size: 100%;
  }
}

